#root {
  margin: 0;
  padding: 0;
}

.img-header{
  background-image: url('../public/header_720.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  background-color: black;
}

.overlay-header{
  background-color: rgba(0, 0, 0, 0.501);
  width: 100%;
  text-align: center;
  align-content: center;
  height: 300px;
}

.hh-footer{
  color:burlywood;
  padding: 30px;
  padding-right: 250px;
}
.h-footer{
  color: white;
  padding: 30px;
}
.p-footer{
  color:lightgray;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}